footer {        
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        color: var(--text-color-light);
        font-size: 14px;
    }
}